<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeTset</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/Toaster/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    
  
    
    @RenderSection("css", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeTset</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="margin-bottom: -48px;">
            &copy; 2020 - CodeTset - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Toaster/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    @RenderSection("Scripts", required: false)

<script>
    $(document).ready(function () {
        PageLoadMethod();
    });
         toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-bottom-left",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        var msgTitle = "@ViewBag.Title";
        function ShowMessage(msg) {
            var cls = "info";
            if (msg.indexOf("s:") == 0) { cls = "success"; msg = msg.substring(2); }
            if (msg.indexOf("w:") == 0) { cls = "warning"; msg = msg.substring(2); }
            if (msg.indexOf("e:") == 0) { cls = "error"; msg = msg.substring(2); }
            if (msg.indexOf("i:") == 0) { cls = "info"; msg = msg.substring(2); }
            toastr[cls](msg, msgTitle);
        }
        function PageLoadMethod() {
            $('.ajaxForm').ajaxForm({
                success: function (json) {
                    if (json.status == 1) {
                        if (json.close != 1) {
                            $(".ajaxForm").resetForm();
                            $(".ajaxForm :selected").prop("selected", false);
                            $(".select2").trigger("change");

                        }
                        if ($("#tblAjax").size() > 0) {
                            BindDataTable();
                        }
                    }
                    if (json.msg != null)
                        ShowMessage(json.msg);

                },
                beforeSubmit: function () {
                    $(".ajaxForm :submit").prop("disabled", true);
                }
            });
        }
</script>
</body >
</html >
